.wrap{
    position: absolute;
    width: 100px;
    height: 100px;
}
.red {
    background-color: red;
    top: 90px;
    left: 90px;
}
.blue {
    background-color: blue;
    top: 150px;
    left: 150px;
    z-index: 1;
}
.green {
    background-color: green;
    top: 210px;
    left: 210px;
}